@import "https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300&family=Montserrat:wght@500;700;900&display=swap";

body {
  background-image: url("../images/pattern-background-mobile.svg");
  background-repeat: no-repeat, repeat;
  height: max-content;
  background-size: auto;
  background-size: cover;
  background-color: hsl(225deg, 100%, 94%);
  color: hsl(224deg, 23%, 55%);
  font-family: "Big Shoulders Display", cursive;
  font-family: Montserrat, sans-serif;
}

.content {
  background-color: white;
  margin: 3rem 1rem;
  border-radius: 15px;
  box-shadow: -1px 15px 27px -16px rgba(56, 41, 224, 0.5);
}

.padding {
  padding: 1rem;
}

.img-hero {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 0;
}

h1 {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  color: hsl(223deg, 47%, 23%);
}

.text {
  text-align: center;
  line-height: 1.65rem;
}

.price-box {
  display: flex;
  background-color: hsl(225deg, 100%, 98%);
  padding: 1rem;
  border-radius: 15px;
  align-items: center;
  justify-content: space-between;
}

.p-plan {
  color: hsl(223deg, 47%, 23%);
  font-weight: 700;
}

span {
  color: hsl(224deg, 23%, 55%);
  font-weight: 100;
}

.a-change {
  color: blue;
  text-decoration: underline;
  font-weight: 700;
  cursor: pointer;
}

button {
  background-color: hsl(245deg, 75%, 52%);
  border: none;
  border-radius: 15px;
  width: 100%;
  color: white;
  margin-top: 1.5rem;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  box-shadow: -1px 15px 27px -16px rgba(56, 41, 224, 0.5);
  cursor: pointer;
}

button:hover {
  background-color: rgb(42, 30, 168);
}

.p-cancel {
  text-align: center;
  font-weight: 700;
  cursor: pointer;
}

/* Desktop */

@media screen and (min-width: 756px) {
  .container {
    width: 40%;
    margin: auto;
  }
}
